//
// Define breakpoints set
//
$breakpoints: (
  small: 320px,
  medium: 600px,
  large: 990px,
  xlarge: 1100px
);

//
// Breakpoint function
//
@mixin breakpoint($breakpoint-name: 0) {
  $min-width: map-get($breakpoints, $breakpoint-name) or $breakpoint-name;

  @if $min-width > 0 {
    @media only screen and (min-width: #{$min-width}) {
      @content;
    }
  } @else {
    @content;
  }
}
