//
// Breakpoints set
//
$breakpoints: (
  medium: 768px,
  large: 1024px,
);

//
// Breakpoint function
//
@mixin breakpoint($breakpoint-name: 0) {
  $min-width: map-get($breakpoints, $breakpoint-name) or $breakpoint-name;

  @if $min-width > 0 {
    @media only screen and (min-width: #{$min-width}) {
      @content;
    }
  } @else {
    @content;
  }
}
