@include block('portfolio-piece') {
    @include block('logo') {
        @include tb-padding('hero');
    }
}

@include block('portfolio-background') {
    width: 100%;
    height: 360px;
    position: absolute;
    background: url('/images/portfolio-hero.jpg');
    background-size: cover;
    background-position: 50% 40%;
}
