@include block('browser-image') {
    border: 1px solid color('dark-gray');
    background: color('lightest-gray');
    padding: 10px;

    @include element('icon-list') {
        @include reset-list();
        display: flex;
        margin-bottom: 9px;
    }

    @include element('icon-list-item') {
        margin-left: 10px;

        &:first-child {
            margin-left: 0;

            @include block('browser-image') {
                @include element('icon') {
                    background-color: color('blush');
                }
            }
        }

        &:nth-child(2) {
            @include block('browser-image') {
                @include element('icon') {
                    background: linear-gradient(90deg, color('blush'), color('mustard'));
                }
            }
        }

        &:last-child {
            @include block('browser-image') {
                @include element('icon') {
                    background-color: color('mustard');
                }
            }
        }
    }

    @include element('icon') {
        width: 12px;
        height: 12px;
        display: block;
        border-radius: 50%;
        background-color: color('mustard');
    }

    @include element('image') {
        border: 1px solid color('dark-gray');
        display: block;
        // box-shadow: 0px 0px 4px 0px color('dark-gray');
    }
}
