%BOX {
    display: inline-block;
    width: 100%;
    border: 1px solid color('darkest-gray');
}

@include block('button') {
    display: inline-block;
    width: 200px;
    position: relative;

    &:hover {
        .button__copy-box {
            background: color('mustard');
            transition: background 50ms ease-in;
        }

        .button__overlap-box {
            background: color('blush');
            transition: background 50ms ease-in;
        }
    }

    @include modifier('small') {
        width: 145px;

        @include block('button') {
            @include element('copy-box') {
                @include type('body2');
                padding: 7px 0;
            }
        }
    }

    @include element('copy-box') {
        @extend %BOX;
        @include type('h3');
        padding: 10px;
        position: relative;
        z-index: 1;
        color: color('darkest-gray');
        text-align: center;
        background: color('blush');
        transition: background 50ms ease-in;
    }

    @include element('overlap-box') {
        @extend %BOX;
        height: 100%;
        position: absolute;
        top: 5px;
        left: 5px;
        background: color('mustard');
        transition: background 50ms ease-in;
    }
}
