@include block('callout-text') {
    @include type('h2');
    display: none;
    width: 145px;
    padding: 9px 0;
    position: absolute;
    bottom: -27px;
    background: color('blush');
    color: color('darkest-gray', .75);
    text-align: center;

    &:hover {
        background: color('mustard');
    }

    &:nth-child(1) {
        right: 0;
    }

    &:nth-child(2) {
        left: 0;
    }

    @include breakpoint('medium') {
        display: inline-block;
    }
}
