@include block('cta') {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include element('copy') {
        @include type('h2');
        margin-bottom: 15px;
        text-align: center;
        color: color('darkest-gray');
    }

    @include element('link-copy') {
        @include type('body1');
        margin-top: 10px;
        color: color('darkest-gray');
    }

    @include element('link') {
        @include link();
        display: inline-block;
    }

    @include modifier('small') {
        @include block('cta') {
            @include element('copy') {
                @include type('body1')
            }

            @include element('link-copy') {
                @include type('body2');
            }
        }
    }
}
