.footer {
    display: flex;
    height: 70px;
    background: color(blush);

    @include element('width-container') {
        @include static-width();
        display: flex;
    }

    @include element('content') {
        @include grid-item(12);
        display: flex;
        justify-content: space-between;
    }

    @include element('link-list') {
        @include reset-list();
        display: flex;
    }

    @include element('link-list-item') {
        display: flex;
        align-items: center;
        margin-left: 25px;

        &:first-child {
            margin-left: 0;
        }
    }

    @include element('link') {
        @include type(body2);
        @include link();
    }

    @include element('copyright') {
        @include type(body2);
        align-self: center;
    }
}
