%LOGOSTYLE {
    @include type('body2');
    color: color('darkest-gray');
    padding: 0 10px;
    text-align: center;
}

@include block('logo') {
    display: flex;
    justify-content: center;
    position: relative;

    @include element('link') {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover,
        &:focus {
            @include block('logo') {
                @include element('name') {
                    background: color('blush');
                    transition: background 50ms ease-in;
                }

                @include element('profession') {
                    background: color('mustard');
                    transition: background 50ms ease-in;
                }
            }
        }
    }

    @include element('name') {
        @extend %LOGOSTYLE;
        @include b-margin('body');
        background: color('mustard');
        transition: background 50ms ease-in;
    }

    @include element('profession') {
        @extend %LOGOSTYLE;
        background: color('blush');
        transition: background 50ms ease-in;
    }
}
