//
// Breakpoints set
//
$breakpoints: (
    small: 320px,
    medium: 768px,
    large: 1024px,
);

//
// Breakpoint function
//
@mixin breakpoint($breakpoint-name) {
    // if a valid breakpoint-name, or a specific pixel value, otherwise it's 0
    $min-width: 0;

    @if map-has-key($breakpoints, $breakpoint-name) {
        $min-width: map-get($breakpoints, $breakpoint-name) or 0;
    }

    @if type-of($breakpoint-name) == number{
        $min-width: $breakpoint-name;
    }

    @if $min-width > 0 {
        @media only screen and (min-width: #{$min-width}) {
            @content;
        }
    } @else {
        @content;
    }
}
