//
// Color set
//
$color-set: (
    // Grays
    darkest-gray: #333333,
    dark-gray: #AAAAAA,
    light-gray: #F2F2F2,
    lightest-gray: #FAFAFA,

    // Accents
    blush: #F2DDDC,
    mustard: #D9C900,
);

//
// Color getter
//
@function color($color-name, $opacity: 1) {
    $color: #FAFAFA;

    @if map-has-key($color-set, $color-name) {
        $color: map-get($color-set, $color-name);
        @return rgba($color, $opacity);
    } @else {
        @error "Color: #{$color-name} is not a defined color.";
    }
}
