//
// Grid set
//
$total-col: 12;

$grid-set: (
  base: (
    viewport: 320,
    gutter: 10,
    column: 17
  ),
  medium: (
    viewport: 768,
    gutter: 19,
    column: 45
  ),
  large: (
    viewport: 1024,
    gutter: 25,
    column: 60
  )
);

//
// Gutter helper
//
@mixin gutter($val) {
  margin-left: $val;
  margin-right: $val;
}

//
// Element width helper
//
@mixin grid-item($columns) {
  @each $breakpoint-name, $grid-properties in $grid-set {
    // Get breakpoint-specific ratio vals
    $gutterWidth: map-get($grid-properties, "gutter");
    $columnWidth: map-get($grid-properties, "column");
    $viewportWidth: map-get($grid-properties, "viewport");

    // Define the total width (combo of col + gutter vals)
    $guttersToAddToWidth: ($columns - 1);
    $totalColumnWidth: ($columns * $columnWidth) + ($guttersToAddToWidth * $gutterWidth);

    // Make it so
    @include breakpoint($breakpoint-name) {
      width: percentage($totalColumnWidth / $viewportWidth);
      @include gutter(percentage(($gutterWidth / 2) / $viewportWidth)) // We divide $gutterWidth for even spacing
    }
  }
}
