//
// Spacing sets
//
$spacing-sets: (
    border: (
        base: 45px,
        medium: 55px,
        large: 75px
    ),
    hero: (
        base: 25px,
        medium: 45px
    ),
    h1: (
        base: 20px,
        medium: 25px
    ),
    body: (
        base: 5px
    )
);

$border-spacing-set: (
  base: 45px,
  medium: 55px,
  large: 75px
);

//
// Hero spacing set
//
$hero-spacing-set: (
  base: 25px,
  medium: 45px
);

//
// Headline spacing set
//
$h1-spacing-set: (
    base: 20px,
    medium: 25px
);

@function get-set($spacing-set-name) {
    $spacing-set: null;

    @if map-has-key($spacing-sets, $spacing-set-name) {
        $spacing-set: map-get($spacing-sets, $spacing-set-name);
    }

    @return $spacing-set;
}

//
// Top + bottom margin
//
@mixin tb-margin($spacing-set-name) {
    $spacing-set: get-set($spacing-set-name);

    @if $spacing-set {
        @each $breakpoint-name, $space-value in $spacing-set {
            @include breakpoint($breakpoint-name) {
                margin: $space-value 0;
            }
        }
    }
}

//
// All margin
//
@mixin b-margin($spacing-set-name) {
    $spacing-set: get-set($spacing-set-name);

    @if $spacing-set {
        @each $breakpoint-name, $space-value in $spacing-set {
            @include breakpoint($breakpoint-name) {
                margin-bottom: $space-value;
            }
        }
    }
}

@mixin t-margin($spacing-set-name) {
    $spacing-set: get-set($spacing-set-name);

    @if $spacing-set {
        @each $breakpoint-name, $space-value in $spacing-set {
            @include breakpoint($breakpoint-name) {
                margin-top: $space-value;
            }
        }
    }
}

//
// Top + bottom padding
//
@mixin tb-padding($spacing-set-name) {
    $spacing-set: get-set($spacing-set-name);

    @if $spacing-set {
        @each $breakpoint-name, $space-value in $spacing-set {
            @include breakpoint($breakpoint-name) {
                padding: $space-value 0;
            }
        }
    }
}

//
// All padding
//
@mixin padding($spacing-set-name) {
    padding: get-space($spacing-set-name);
}
