//
// Font fam
//
$font-family: "Karla", sans-serif;

//
// Headline set
//
$headline-set: (
  h1: (
    base: (
      size: 25px,
      lineHeight: 37px,
      weight: 300
    ),
    medium: (
      size: 31px,
      lineHeight: 46px
    ),
  ),
  h2: (
    base: (
      size: 20px,
      lineHeight: 32px,
      weight: 300
    ),
    medium: (
      size: 25px,
      lineHeight: 37px
    ),
  ),
  h3: (
    base: (
      size: 16px,
      lineHeight: 26px,
      weight: 600
    )
  )
);

//
// Body copy set
//
$body-copy-set: (
  body1: (
    base: (
      size: 16px,
      lineHeight: 26px,
      weight: 300
    )
  ),
  body2: (
    base: (
      size: 14px,
      lineHeight: 24px,
      weight: 300
    )
  )
);

//
// Get dat type
//
@mixin type($copy-set-name, $copy-set-child) {
  @if $copy-set-name == "headline" {
    $copy-set: $headline-set;
  }
  @if $copy-set-name == "body" {
    $copy-set: $body-copy-set;
  }

  @if map-has-key($copy-set, $copy-set-child) {
    // now we have access to the different breakpoint (base, and medium)
    $breakpoint-groups: map-get($copy-set, $copy-set-child);

    @each $breakpoint-name, $type-properties in $breakpoint-groups {
      @include breakpoint($breakpoint-name) {
        @each $property, $value in $type-properties {
          #{$property}: #{$value};
        }
      }
    }
  } @else {
    @error "#{$copy-set} or #{$copy-set-child} does not exist"
  }
}
